* {
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: #1a1a1a;
    color: #c4c5b5;
    border-top: 1px solid #343434;
}

#workspaces button {
    padding: 0 8px;
    color: #625e4c;
    background: transparent;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    color: #f4005f;
}

#workspaces button:hover {
    background-color: #343434;
}
